<!DOCTYPE html>
<html>
<head><title>All Responses</title></head>
<body>
    <h2>All Submitted Responses</h2>
    <a href="/download_json">Download JSON</a>
    <table border="1">
        <thead>
            <tr>
                {% for key in records[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                {% for value in record.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>







